*{
    margin: 0;
    padding: 0;
}
.image-upload-section{
    width:90vh;
    height: 300px;
    align-self: center;
    text-align: center;
    margin-top: 100px;
    padding-top: 50px;
    /* background-color: #8e8e8e; */
    border: 2px solid gray;
}

.uploading-section{
    /* background-color: #8e8e8e; */
    margin-top: 50px;
}

.uploading-section input{
    margin-left: 10px;
    text-transform: lowercase;
    padding-left: 10px;
}

.faq-upload-section{
    width:100vh;
    height: 350px;
    align-self: center;
    text-align: center;
    margin-top: 100px;
    padding-top: 50px;
    border: 2px solid gray;
}