.video-section {
  width: auto;
  height: auto;
  /* background-color: #eae3e4; */
  background-color: white;
  color: rgb(0, 0, 0);
  padding-top: 70px;
  
}

.video-title-section {
  text-align: center;
  font-family: "Dancing Script", cursive;
}

.video-title-section h1{
  padding-top: 20px;
  padding-bottom: 20px;
}


.youtube-viedo-section{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.youtube-viedo-section iframe{
  margin-left: 50px;
  margin-top: 30px;
  width: 450px;
  height: 300px;
}
